<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="PeopleSqlProvider" connectionString = "Data Source=WIN-SERVER-22;User ID=sa;Password=Mononoke21(;Initial Catalog=People" providerName="System.Data.SqlClient" />
    <add name="EnterpriseSqlProvider" connectionString="Data Source=WIN-SERVER-22;User ID=sa;Password=Mononoke21(;Initial Catalog=EnterpriseManager" providerName="System.Data.SqlClient" />
    <add name="DebugSqlProvider" connectionString = "Data Source=WIN-SERVER-22;Integrated Security=SSPI;Initial Catalog=SqlDebug" providerName="System.Data.SqlClient"/>
    <add name="EonSoftSqlProvider" connectionString = "Data Source=WIN-SERVER-22;Integrated Security=SSPI;Initial Catalog=EONSOFT" providerName="System.Data.SqlClient"/>    
    <add name="EducationSqlProvider" connectionString = "Data Source=WIN-SERVER-22;User ID=sa;Password=Mononoke21(;Initial Catalog=CUSTOMCOMM" providerName="System.Data.SqlClient"/>
    <add name="HealthInfoSqlProvider" connectionString = "Data Source=WIN-SERVER-22;User ID=sa;Password=Mononoke21(;Initial Catalog=HEALTH" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>